<%- include("partials/header"); -%>

    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input name="postTitle" type="text" class="mb-3 form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg">
            <label>Post</label>
            <textarea name="postBody" rows="4" type="text" class="mb-3 form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg"> </textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>

    <%- include("partials/footer"); -%>